*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}


header{
    background-color: rgb(0, 0, 0);
}

.barra {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 35px;  
}

