*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat' , sans-serif;
  }
body{
    background-color: rgba(32, 92, 66, 0.19);
    background-color: #9db19e;
  }
section,footer{
    padding: 54px 0;
}

.batata{
 background-color: black;
 padding: 0px;
}