:root{
    --fundo: #c70000;
    --fundo2:#E13B6D;
}
body{ 
    background-color: var(--fundo);
}

img{
    width: 10%;
}

header{
    display: grid;
    align-items: center;
    justify-content: space-around;
    font-family: "Ingrid Darling", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: var(--fundo2);
    grid-template-columns: 20% 60% 20%;
    text-align: center;
}