
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat' , sans-serif;
}
body{
  background-color: rgba(0, 0, 0, 0);
  background-color: #000000;
}
section,footer{
  padding: 54px 0;
}
h3{
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
p{
  color: rgb(255, 255, 255);
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding:0 7%;
}
.btn{
  background-color: rgba(95, 16, 16, 0.98);
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}
.btn.animacao-btn{
  animation:"animacao-outline" 1s ease-out infinite;
}
.btn:hover{
  background-color: #7a4040fa;
}
@keyframes animacao-outline {
  from{
outline: 0px solid #ffffff;
  }
  to{
outline: 13px solid rgba(2, 117, 108, 0.16);
  }
}

.btn2{
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 15px 20px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}
.btn2.animacao-btn{
  animation:"animacao-outline" 1s ease-out infinite;
}
.btn2:hover{
  background-color: #ffffff57;
}
@keyframes animacao-outline {
  from{
outline: 0px solid #ffffff;
  }
  to{
outline: 13px solid rgba(2, 117, 108, 0.16);
  }
}
header{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
nav{
  display: flex;
  align-items: center;
  justify-content:space-between ;
  padding-top: 30px;

}
nav ul{
  display: flex;
  align-items: center;
}
nav ul a{
  color: #ffffff;
  margin:0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}
nav ul a:not(.btn)::after{
  content: "";
  background-color: #ffffff;
  height: 3px;
  width:0%;
  display: block;
  margin: 0 auto;
  transition:0.3s;
}
nav ul a:hover::after{
  width: 100%;
}

.cabeca{
    background-color: black;
    padding: 0px;
    position: sticky;
    top: 0;
}
.cabeca2{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 70%;
}
.banner{
  display: flex;
  justify-content: center;
}
.banner .banner-text{
  margin: 75px;
  text-align: center;
  padding: 0 50px;
  opacity: 85%;
}
.banner .banner-text h1{
  font-size: 55px;
  color: #ffffff;
}
.banner .banner-text p{
  font-size: 12px;
  color: white;
  font-weight: lighter;
  margin:15px 0 ;
}

.faca-mais .container{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #000000;

}
.faca-mais .faca-mais-text{
  width:40%;
  padding: 10px 20px;
  background: radial-gradient(circle, rgba(140,11,11,1) 42%, rgba(73,20,20,1) 84%);
}
.faca-mais .faca-mais-text h3{
  font-size: 45px;
}
.faca-mais .faca-mais-text p{
  margin: 5px 0px 10px 0;
  color: rgb(255, 255, 255);
}

.faca-mais .faca-mais-text2{
  width:40%;
  padding: 10px 20px;
  background: radial-gradient(circle, rgba(47,157,80,1) 37%, rgba(27,82,50,1) 84%);
}
.faca-mais .faca-mais-text2 h3{
  font-size: 45px;
}
.faca-mais .faca-mais-text2 p{
  margin: 5px 0px 10px 0;
  color: rgb(255, 255, 255);
}

.faca-mais .faca-mais-img{
  width: 50%;

}
.faca-mais .faca-mais-img img{
  width: 100%;
  border-radius: 20px;
}
/* footer*/
.footer{
  background-color: #415848;
  text-align: center;
}

.imagem{
  width: 100%;
  margin-top: 10px;
}

.text1{
  font-size: 10px;
  color: #ffffff;
  text-align: center;
}
